@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global scrollbar styles */
html {
	/* For Firefox */
	scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
	scrollbar-width: thin; /* Options: auto, thin, none */
  }
  
  /* WebKit-based browsers */
  ::-webkit-scrollbar {
	width: 8px; /* Width of the scrollbar */
	height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #888; /* Color of the scrollbar thumb */
	border-radius: 4px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Color when hovering over the thumb */
  }
  
  ::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Color of the scrollbar track */
	border-radius: 4px; /* Rounded corners for the track */
  }
  
/* ::-webkit-scrollbar {
	width: 8px !important;
  }
  
  ::-webkit-scrollbar-track {
	background: #555 8px !important;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #121212 8px !important;
	border-radius: 5px 8px !important;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #242424 8px !important;
  } */
  
/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
